@font-face {
    font-family: "Lato Black";
    src: url("../fonts/Lato-Black.eot");
    src: url("../fonts/Lato-Black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Lato-Black.woff2") format("woff2"),
        url("../fonts/Lato-Black.woff") format("woff"),
        url("../fonts/Lato-Black.ttf") format("truetype"),
        url("../fonts/Lato-Black.svg#Lato_Black") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato BlackItalic";
    src: url("../fonts/Lato-BlackItalic.eot");
    src: url("../fonts/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Lato-BlackItalic.woff2") format("woff2"),
        url("../fonts/Lato-BlackItalic.woff") format("woff"),
        url("../fonts/Lato-BlackItalic.ttf") format("truetype"),
        url("../fonts/Lato-BlackItalic.svg#Lato_BlackItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato Bold";
    src: url("../fonts/Lato-Bold.eot");
    src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Lato-Bold.woff2") format("woff2"),
        url("../fonts/Lato-Bold.woff") format("woff"),
        url("../fonts/Lato-Bold.ttf") format("truetype"),
        url("../fonts/Lato-Bold.svg#Lato_Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato BoldItalic";
    src: url("../fonts/Lato-BoldItalic.eot");
    src: url("../fonts/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Lato-BoldItalic.woff2") format("woff2"),
        url("../fonts/Lato-BoldItalic.woff") format("woff"),
        url("../fonts/Lato-BoldItalic.ttf") format("truetype"),
        url("../fonts/Lato-BoldItalic.svg#Lato_BoldItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato Hairline";
    src: url("../fonts/Lato-Hairline.eot");
    src: url("../fonts/Lato-Hairline.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Lato-Hairline.woff2") format("woff2"),
        url("../fonts/Lato-Hairline.woff") format("woff"),
        url("../fonts/Lato-Hairline.ttf") format("truetype"),
        url("../fonts/Lato-Hairline.svg#Lato_Hairline") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato HairlineItalic";
    src: url("../fonts/Lato-HairlineItalic.eot");
    src: url("../fonts/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Lato-HairlineItalic.woff2") format("woff2"),
        url("../fonts/Lato-HairlineItalic.woff") format("woff"),
        url("../fonts/Lato-HairlineItalic.ttf") format("truetype"),
        url("../fonts/Lato-HairlineItalic.svg#Lato_HairlineItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato Italic";
    src: url("../fonts/Lato-Italic.eot");
    src: url("../fonts/Lato-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Lato-Italic.woff2") format("woff2"),
        url("../fonts/Lato-Italic.woff") format("woff"),
        url("../fonts/Lato-Italic.ttf") format("truetype"),
        url("../fonts/Lato-Italic.svg#Lato_Italic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato Light";
    src: url("../fonts/Lato-Light.eot");
    src: url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Lato-Light.woff2") format("woff2"),
        url("../fonts/Lato-Light.woff") format("woff"),
        url("../fonts/Lato-Light.ttf") format("truetype"),
        url("../fonts/Lato-Light.svg#Lato_Light") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato LightItalic";
    src: url("../fonts/Lato-LightItalic.eot");
    src: url("../fonts/Lato-LightItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Lato-LightItalic.woff2") format("woff2"),
        url("../fonts/Lato-LightItalic.woff") format("woff"),
        url("../fonts/Lato-LightItalic.ttf") format("truetype"),
        url("../fonts/Lato-LightItalic.svg#Lato_LightItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato Regular";
    src: url("../fonts/Lato-Regular.eot");
    src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Lato-Regular.woff2") format("woff2"),
        url("../fonts/Lato-Regular.woff") format("woff"),
        url("../fonts/Lato-Regular.ttf") format("truetype"),
        url("../fonts/Lato-Regular.svg#Lato_Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "Roboto Light";
	src: url("../fonts/Roboto-Light.eot");
	src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Roboto-Light.woff2") format("woff2"),
		url("../fonts/Roboto-Light.woff") format("woff"),
		url("../fonts/Roboto-Light.ttf") format("truetype"),
		url("../fonts/Roboto-Light.svg#Roboto_Light") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: "Roboto Slab Bold";
    src: url("../fonts/Roboto-Slab-Bold.eot");
    src: url("../fonts/Roboto-Slab-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Roboto-Slab-Bold.woff2") format("woff2"),
        url("../fonts/Roboto-Slab-Bold.woff") format("woff"),
        url("../fonts/Roboto-Slab-Bold.ttf") format("truetype"),
        url("../fonts/Roboto-Slab-Bold.svg#Roboto_Slab_Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Slab Light";
    src: url("../fonts/Roboto-Slab-Light.eot");
    src: url("../fonts/Roboto-Slab-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Roboto-Slab-Light.woff2") format("woff2"),
        url("../fonts/Roboto-Slab-Light.woff") format("woff"),
        url("../fonts/Roboto-Slab-Light.ttf") format("truetype"),
        url("../fonts/Roboto-Slab-Light.svg#Roboto_Slab_Light") format("svg");
    font-weight: normal;
}
    
@font-face {
    font-family: "Verdana Bold";
    src: url("../fonts/Verdana-Bold.eot");
    src: url("../fonts/Verdana-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Verdana-Bold.woff2") format("woff2"),
        url("../fonts/Verdana-Bold.woff") format("woff"),
        url("../fonts/Verdana-Bold.ttf") format("truetype"),
        url("../fonts/Verdana-Bold.svg#Verdana_Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Verdana Italic";
    src: url("../fonts/Verdana-Italic.eot");
    src: url("../fonts/Verdana-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Verdana-Italic.woff2") format("woff2"),
        url("../fonts/Verdana-Italic.woff") format("woff"),
        url("../fonts/Verdana-Italic.ttf") format("truetype"),
        url("../fonts/Verdana-Italic.svg#Verdana_Italic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Verdana Regular";
    src: url("../fonts/Verdana-Regular.eot");
    src: url("../fonts/Verdana-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Verdana-Regular.woff2") format("woff2"),
        url("../fonts/Verdana-Regular.woff") format("woff"),
        url("../fonts/Verdana-Regular.ttf") format("truetype"),
        url("../fonts/Verdana-Regular.svg#Verdana_Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Pier Sans Bold";
    src: url("../fonts/Pier-Sans-Bold.eot");
    src: url("../fonts/Pier-Sans-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Pier-Sans-Bold.woff2") format("woff2"),
        url("../fonts/Pier-Sans-Bold.woff") format("woff"),
        url("../fonts/Pier-Sans-Bold.ttf") format("truetype"),
        url("../fonts/Pier-Sans-Bold.svg#Pier_Sans_Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Abel Regular";
    src: url("../fonts/Abel-Regular.eot");
    src: url("../fonts/Abel-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Abel-Regular.woff2") format("woff2"),
        url("../fonts/Abel-Regular.woff") format("woff"),
        url("../fonts/Abel-Regular.ttf") format("truetype"),
        url("../fonts/Abel-Regular.svg#Abel_Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PublicSans Regular";
    src: url("../fonts/PublicSans-Regular.eot");
    src: url("../fonts/PublicSans-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/PublicSans-Regular.woff2") format("woff2"),
        url("../fonts/PublicSans-Regular.woff") format("woff"),
        url("../fonts/PublicSans-Regular.ttf") format("truetype"),
        url("../fonts/PublicSans-Regular.svg#PublicSans_Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MuseoSans Rounded 700";
    src: url("../fonts/MuseoSans-Rounded-700.eot");
    src: url("../fonts/MuseoSans-Rounded-700.eot?#iefix") format("embedded-opentype"),
        url("../fonts/MuseoSans-Rounded-700.woff2") format("woff2"),
        url("../fonts/MuseoSans-Rounded-700.woff") format("woff"),
        url("../fonts/MuseoSans-Rounded-700.ttf") format("truetype"),
        url("../fonts/MuseoSans-Rounded-700.svg#MuseoSans_Rounded_700") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Raleway Medium";
    src: url("../fonts/Raleway-Medium.eot");
    src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Raleway-Medium.woff2") format("woff2"),
        url("../fonts/Raleway-Medium.woff") format("woff"),
        url("../fonts/Raleway-Medium.ttf") format("truetype"),
        url("../fonts/Raleway-Medium.svg#Raleway_Medium") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Alice Regular";
    src: url("../fonts/Alice-Regular.eot");
    src: url("../fonts/Alice-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Alice-Regular.woff2") format("woff2"),
        url("../fonts/Alice-Regular.woff") format("woff"),
        url("../fonts/Alice-Regular.ttf") format("truetype"),
        url("../fonts/Alice-Regular.svg#Alice_Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "NexaRustSlab BlackShadow01";
    src: url("../fonts/NexaRustSlab-BlackShadow01.eot");
    src: url("../fonts/NexaRustSlab-BlackShadow01.eot?#iefix") format("embedded-opentype"),
        url("../fonts/NexaRustSlab-BlackShadow01.woff2") format("woff2"),
        url("../fonts/NexaRustSlab-BlackShadow01.woff") format("woff"),
        url("../fonts/NexaRustSlab-BlackShadow01.ttf") format("truetype"),
        url("../fonts/NexaRustSlab-BlackShadow01.svg#NexaRustSlab_BlackShadow01") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Cream Cake";
    src: url("../fonts/Cream-Cake.eot");
    src: url("../fonts/Cream-Cake.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Cream-Cake.woff2") format("woff2"),
        url("../fonts/Cream-Cake.woff") format("woff"),
        url("../fonts/Cream-Cake.ttf") format("truetype"),
        url("../fonts/Cream-Cake.svg#Cream_Cake") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Hello Valentina";
    src: url("../fonts/Hello-Valentina.eot");
    src: url("../fonts/Hello-Valentina.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Hello-Valentina.woff2") format("woff2"),
        url("../fonts/Hello-Valentina.woff") format("woff"),
        url("../fonts/Hello-Valentina.ttf") format("truetype"),
        url("../fonts/Hello-Valentina.svg#Hello_Valentina") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Eastwood";
    src: url("../fonts/Eastwood.eot");
    src: url("../fonts/Eastwood.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Eastwood.woff2") format("woff2"),
        url("../fonts/Eastwood.woff") format("woff"),
        url("../fonts/Eastwood.ttf") format("truetype"),
        url("../fonts/Eastwood.svg#Eastwood") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Eastwood Italic";
    src: url("../fonts/Eastwood-Italic.eot");
    src: url("../fonts/Eastwood-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Eastwood-Italic.woff2") format("woff2"),
        url("../fonts/Eastwood-Italic.woff") format("woff"),
        url("../fonts/Eastwood-Italic.ttf") format("truetype"),
        url("../fonts/Eastwood-Italic.svg#Eastwood_Italic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RobotoMono Bold";
    src: url("../fonts/RobotoMono-Bold.eot");
    src: url("../fonts/RobotoMono-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/RobotoMono-Bold.woff2") format("woff2"),
        url("../fonts/RobotoMono-Bold.woff") format("woff"),
        url("../fonts/RobotoMono-Bold.ttf") format("truetype"),
        url("../fonts/RobotoMono-Bold.svg#RobotoMono_Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RobotoMono BoldItalic";
    src: url("../fonts/RobotoMono-BoldItalic.eot");
    src: url("../fonts/RobotoMono-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/RobotoMono-BoldItalic.woff2") format("woff2"),
        url("../fonts/RobotoMono-BoldItalic.woff") format("woff"),
        url("../fonts/RobotoMono-BoldItalic.ttf") format("truetype"),
        url("../fonts/RobotoMono-BoldItalic.svg#RobotoMono_BoldItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RobotoMono Italic";
    src: url("../fonts/RobotoMono-Italic.eot");
    src: url("../fonts/RobotoMono-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/RobotoMono-Italic.woff2") format("woff2"),
        url("../fonts/RobotoMono-Italic.woff") format("woff"),
        url("../fonts/RobotoMono-Italic.ttf") format("truetype"),
        url("../fonts/RobotoMono-Italic.svg#RobotoMono_Italic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RobotoMono Light";
    src: url("../fonts/RobotoMono-Light.eot");
    src: url("../fonts/RobotoMono-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/RobotoMono-Light.woff2") format("woff2"),
        url("../fonts/RobotoMono-Light.woff") format("woff"),
        url("../fonts/RobotoMono-Light.ttf") format("truetype"),
        url("../fonts/RobotoMono-Light.svg#RobotoMono_Light") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RobotoMono LightItalic";
    src: url("../fonts/RobotoMono-LightItalic.eot");
    src: url("../fonts/RobotoMono-LightItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/RobotoMono-LightItalic.woff2") format("woff2"),
        url("../fonts/RobotoMono-LightItalic.woff") format("woff"),
        url("../fonts/RobotoMono-LightItalic.ttf") format("truetype"),
        url("../fonts/RobotoMono-LightItalic.svg#RobotoMono_LightItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RobotoMono Medium";
    src: url("../fonts/RobotoMono-Medium.eot");
    src: url("../fonts/RobotoMono-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/RobotoMono-Medium.woff2") format("woff2"),
        url("../fonts/RobotoMono-Medium.woff") format("woff"),
        url("../fonts/RobotoMono-Medium.ttf") format("truetype"),
        url("../fonts/RobotoMono-Medium.svg#RobotoMono_Medium") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RobotoMono MediumItalic";
    src: url("../fonts/RobotoMono-MediumItalic.eot");
    src: url("../fonts/RobotoMono-MediumItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/RobotoMono-MediumItalic.woff2") format("woff2"),
        url("../fonts/RobotoMono-MediumItalic.woff") format("woff"),
        url("../fonts/RobotoMono-MediumItalic.ttf") format("truetype"),
        url("../fonts/RobotoMono-MediumItalic.svg#RobotoMono_MediumItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RobotoMono Regular";
    src: url("../fonts/RobotoMono-Regular.eot");
    src: url("../fonts/RobotoMono-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/RobotoMono-Regular.woff2") format("woff2"),
        url("../fonts/RobotoMono-Regular.woff") format("woff"),
        url("../fonts/RobotoMono-Regular.ttf") format("truetype"),
        url("../fonts/RobotoMono-Regular.svg#RobotoMono_Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RobotoMono Thin";
    src: url("../fonts/RobotoMono-Thin.eot");
    src: url("../fonts/RobotoMono-Thin.eot?#iefix") format("embedded-opentype"),
        url("../fonts/RobotoMono-Thin.woff2") format("woff2"),
        url("../fonts/RobotoMono-Thin.woff") format("woff"),
        url("../fonts/RobotoMono-Thin.ttf") format("truetype"),
        url("../fonts/RobotoMono-Thin.svg#RobotoMono_Thin") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RobotoMono ThinItalic";
    src: url("../fonts/RobotoMono-ThinItalic.eot");
    src: url("../fonts/RobotoMono-ThinItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/RobotoMono-ThinItalic.woff2") format("woff2"),
        url("../fonts/RobotoMono-ThinItalic.woff") format("woff"),
        url("../fonts/RobotoMono-ThinItalic.ttf") format("truetype"),
        url("../fonts/RobotoMono-ThinItalic.svg#RobotoMono_ThinItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Quitars";
    src: url("../fonts/Quitars.eot");
    src: url("../fonts/Quitars.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Quitars.woff2") format("woff2"),
        url("../fonts/Quitars.woff") format("woff"),
        url("../fonts/Quitars.ttf") format("truetype"),
        url("../fonts/Quitars.svg#Quitars") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Zasline";
    src: url("../fonts/Zasline.eot");
    src: url("../fonts/Zasline.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Zasline.woff2") format("woff2"),
        url("../fonts/Zasline.woff") format("woff"),
        url("../fonts/Zasline.ttf") format("truetype"),
        url("../fonts/Zasline.svg#Zasline") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rubik Bold";
    src: url("../fonts/Rubik-Bold.eot");
    src: url("../fonts/Rubik-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Rubik-Bold.woff2") format("woff2"),
        url("../fonts/Rubik-Bold.woff") format("woff"),
        url("../fonts/Rubik-Bold.ttf") format("truetype"),
        url("../fonts/Rubik-Bold.svg#Rubik_Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Rubik BoldItalic";
    src: url("../fonts/Rubik-BoldItalic.eot");
    src: url("../fonts/Rubik-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Rubik-BoldItalic.woff2") format("woff2"),
        url("../fonts/Rubik-BoldItalic.woff") format("woff"),
        url("../fonts/Rubik-BoldItalic.ttf") format("truetype"),
        url("../fonts/Rubik-BoldItalic.svg#Rubik_BoldItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Rubik Italic";
    src: url("../fonts/Rubik-Italic.eot");
    src: url("../fonts/Rubik-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Rubik-Italic.woff2") format("woff2"),
        url("../fonts/Rubik-Italic.woff") format("woff"),
        url("../fonts/Rubik-Italic.ttf") format("truetype"),
        url("../fonts/Rubik-Italic.svg#Rubik_Italic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Rubik Black";
    src: url("../fonts/Rubik-Black.eot");
    src: url("../fonts/Rubik-Black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Rubik-Black.woff2") format("woff2"),
        url("../fonts/Rubik-Black.woff") format("woff"),
        url("../fonts/Rubik-Black.ttf") format("truetype"),
        url("../fonts/Rubik-Black.svg#Rubik_Black") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Rubik BlackItalic";
    src: url("../fonts/Rubik-BlackItalic.eot");
    src: url("../fonts/Rubik-BlackItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Rubik-BlackItalic.woff2") format("woff2"),
        url("../fonts/Rubik-BlackItalic.woff") format("woff"),
        url("../fonts/Rubik-BlackItalic.ttf") format("truetype"),
        url("../fonts/Rubik-BlackItalic.svg#Rubik_BlackItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Rubik Medium";
    src: url("../fonts/Rubik-Medium.eot");
    src: url("../fonts/Rubik-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Rubik-Medium.woff2") format("woff2"),
        url("../fonts/Rubik-Medium.woff") format("woff"),
        url("../fonts/Rubik-Medium.ttf") format("truetype"),
        url("../fonts/Rubik-Medium.svg#Rubik_Medium") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Rubik MediumItalic";
    src: url("../fonts/Rubik-MediumItalic.eot");
    src: url("../fonts/Rubik-MediumItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Rubik-MediumItalic.woff2") format("woff2"),
        url("../fonts/Rubik-MediumItalic.woff") format("woff"),
        url("../fonts/Rubik-MediumItalic.ttf") format("truetype"),
        url("../fonts/Rubik-MediumItalic.svg#Rubik_MediumItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Rubik Regular";
    src: url("../fonts/Rubik-Regular.eot");
    src: url("../fonts/Rubik-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Rubik-Regular.woff2") format("woff2"),
        url("../fonts/Rubik-Regular.woff") format("woff"),
        url("../fonts/Rubik-Regular.ttf") format("truetype"),
        url("../fonts/Rubik-Regular.svg#Rubik_Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Rubik Light";
    src: url("../fonts/Rubik-Light.eot");
    src: url("../fonts/Rubik-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Rubik-Light.woff2") format("woff2"),
        url("../fonts/Rubik-Light.woff") format("woff"),
        url("../fonts/Rubik-Light.ttf") format("truetype"),
        url("../fonts/Rubik-Light.svg#Rubik_Light") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Rubik LightItalic";
    src: url("../fonts/Rubik-LightItalic.eot");
    src: url("../fonts/Rubik-LightItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Rubik-LightItalic.woff2") format("woff2"),
        url("../fonts/Rubik-LightItalic.woff") format("woff"),
        url("../fonts/Rubik-LightItalic.ttf") format("truetype"),
        url("../fonts/Rubik-LightItalic.svg#Rubik_LightItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Freshman";
    src: url("../fonts/Freshman.eot");
    src: url("../fonts/Freshman.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Freshman.woff2") format("woff2"),
        url("../fonts/Freshman.woff") format("woff"),
        url("../fonts/Freshman.ttf") format("truetype"),
        url("../fonts/Freshman.svg#Freshman") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TwCenMT Bold";
    src: url("../fonts/TwCenMT-Bold.eot");
    src: url("../fonts/TwCenMT-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/TwCenMT-Bold.woff2") format("woff2"),
        url("../fonts/TwCenMT-Bold.woff") format("woff"),
        url("../fonts/TwCenMT-Bold.ttf") format("truetype"),
        url("../fonts/TwCenMT-Bold.svg#TwCenMT_Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TwCenMT BoldItalic";
    src: url("../fonts/TwCenMT-BoldItalic.eot");
    src: url("../fonts/TwCenMT-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/TwCenMT-BoldItalic.woff2") format("woff2"),
        url("../fonts/TwCenMT-BoldItalic.woff") format("woff"),
        url("../fonts/TwCenMT-BoldItalic.ttf") format("truetype"),
        url("../fonts/TwCenMT-BoldItalic.svg#TwCenMT_BoldItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TwCenMT Condensed";
    src: url("../fonts/TwCenMT-Condensed.eot");
    src: url("../fonts/TwCenMT-Condensed.eot?#iefix") format("embedded-opentype"),
        url("../fonts/TwCenMT-Condensed.woff2") format("woff2"),
        url("../fonts/TwCenMT-Condensed.woff") format("woff"),
        url("../fonts/TwCenMT-Condensed.ttf") format("truetype"),
        url("../fonts/TwCenMT-Condensed.svg#TwCenMT_Condensed") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TwCenMT CondensedBold";
    src: url("../fonts/TwCenMT-CondensedBold.eot");
    src: url("../fonts/TwCenMT-CondensedBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/TwCenMT-CondensedBold.woff2") format("woff2"),
        url("../fonts/TwCenMT-CondensedBold.woff") format("woff"),
        url("../fonts/TwCenMT-CondensedBold.ttf") format("truetype"),
        url("../fonts/TwCenMT-CondensedBold.svg#TwCenMT_CondensedBold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TwCenMT CondensedExtraBold";
    src: url("../fonts/TwCenMT-CondensedExtraBold.eot");
    src: url("../fonts/TwCenMT-CondensedExtraBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/TwCenMT-CondensedExtraBold.woff2") format("woff2"),
        url("../fonts/TwCenMT-CondensedExtraBold.woff") format("woff"),
        url("../fonts/TwCenMT-CondensedExtraBold.ttf") format("truetype"),
        url("../fonts/TwCenMT-CondensedExtraBold.svg#TwCenMT_CondensedExtraBold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TwCenMT Italic";
    src: url("../fonts/TwCenMT-Italic.eot");
    src: url("../fonts/TwCenMT-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/TwCenMT-Italic.woff2") format("woff2"),
        url("../fonts/TwCenMT-Italic.woff") format("woff"),
        url("../fonts/TwCenMT-Italic.ttf") format("truetype"),
        url("../fonts/TwCenMT-Italic.svg#TwCenMT_Italic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TwCenMT";
    src: url("../fonts/TwCenMT.eot");
    src: url("../fonts/TwCenMT.eot?#iefix") format("embedded-opentype"),
        url("../fonts/TwCenMT.woff2") format("woff2"),
        url("../fonts/TwCenMT.woff") format("woff"),
        url("../fonts/TwCenMT.ttf") format("truetype"),
        url("../fonts/TwCenMT.svg#TwCenMT") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Aller Bold";
    src: url("../fonts/Aller-Bold.eot");
    src: url("../fonts/Aller-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Aller-Bold.woff2") format("woff2"),
        url("../fonts/Aller-Bold.woff") format("woff"),
        url("../fonts/Aller-Bold.ttf") format("truetype"),
        url("../fonts/Aller-Bold.svg#Aller_Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Aller BoldItalic";
    src: url("../fonts/Aller-BoldItalic.eot");
    src: url("../fonts/Aller-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Aller-BoldItalic.woff2") format("woff2"),
        url("../fonts/Aller-BoldItalic.woff") format("woff"),
        url("../fonts/Aller-BoldItalic.ttf") format("truetype"),
        url("../fonts/Aller-BoldItalic.svg#Aller_BoldItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Aller Display";
    src: url("../fonts/Aller-Display.eot");
    src: url("../fonts/Aller-Display.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Aller-Display.woff2") format("woff2"),
        url("../fonts/Aller-Display.woff") format("woff"),
        url("../fonts/Aller-Display.ttf") format("truetype"),
        url("../fonts/Aller-Display.svg#Aller_Display") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Aller Italic";
    src: url("../fonts/Aller-Italic.eot");
    src: url("../fonts/Aller-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Aller-Italic.woff2") format("woff2"),
        url("../fonts/Aller-Italic.woff") format("woff"),
        url("../fonts/Aller-Italic.ttf") format("truetype"),
        url("../fonts/Aller-Italic.svg#Aller_Italic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Aller Light";
    src: url("../fonts/Aller-Light.eot");
    src: url("../fonts/Aller-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Aller-Light.woff2") format("woff2"),
        url("../fonts/Aller-Light.woff") format("woff"),
        url("../fonts/Aller-Light.ttf") format("truetype"),
        url("../fonts/Aller-Light.svg#Aller_Light") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Aller LightItalic";
    src: url("../fonts/Aller-LightItalic.eot");
    src: url("../fonts/Aller-LightItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Aller-LightItalic.woff2") format("woff2"),
        url("../fonts/Aller-LightItalic.woff") format("woff"),
        url("../fonts/Aller-LightItalic.ttf") format("truetype"),
        url("../fonts/Aller-LightItalic.svg#Aller_LightItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Aller LightItalic";
    src: url("../fonts/Aller-LightItalic.eot");
    src: url("../fonts/Aller-LightItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Aller-LightItalic.woff2") format("woff2"),
        url("../fonts/Aller-LightItalic.woff") format("woff"),
        url("../fonts/Aller-LightItalic.ttf") format("truetype"),
        url("../fonts/Aller-LightItalic.svg#Aller_LightItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Aller Regular";
    src: url("../fonts/Aller-Regular.eot");
    src: url("../fonts/Aller-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Aller-Regular.woff2") format("woff2"),
        url("../fonts/Aller-Regular.woff") format("woff"),
        url("../fonts/Aller-Regular.ttf") format("truetype"),
        url("../fonts/Aller-Regular.svg#Aller_Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

$font-lato-black: 'Lato Black', sans-serif;
$font-lato-blackitalic: 'Lato BlackItalic', sans-serif;
$font-lato-bold: 'Lato Bold', sans-serif;
$font-lato-bolditalic: 'Lato BoldItalic', sans-serif;
$font-lato-hairline: 'Lato Hairline', sans-serif;
$font-lato-hairlineitalic: 'Lato HairlineItalic', sans-serif;
$font-lato-italic: 'Lato Italic', sans-serif;
$font-lato-light: 'Lato Light', sans-serif;
$font-lato-lightitalic: 'Lato LightItalic', sans-serif;
$font-lato-regular: 'Lato Regular', sans-serif;
$font-roboto-light: 'Roboto Light', sans-serif;
$font-roboto-slab-bold: 'Roboto Slab Bold', sans-serif;
$font-roboto-slab-light: 'Roboto Slab Light', sans-serif;
$font-verdana-bold: 'Verdana Bold', sans-serif;
$font-verdana-italic: 'Verdana Italic', sans-serif;
$font-verdana-regular: 'Verdana Regular', sans-serif;
$font-pier-sans-bold: 'Pier Sans Bold', sans-serif;
$font-abel-regular: 'Abel Regular', sans-serif;
$font-publicsans-regular: 'PublicSans Regular', sans-serif;
$font-museosans-rounded-700: 'MuseoSans Rounded 700', sans-serif;
$font-raleway-medium: 'Raleway Medium', sans-serif;
$font-alice-regular: 'Alice Regular', sans-serif;
$font-nexarustslab-blackshadow01: 'NexaRustSlab BlackShadow01', sans-serif;
$font-cream-cake: 'Cream Cake', sans-serif;
$font-hello-valentina: 'Hello Valentina', sans-serif;
$font-eastwood: 'Eastwood', sans-serif;
$font-eastwood-italic: 'Eastwood Italic', sans-serif;
$font-robotomono-bold: 'RobotoMono Bold', sans-serif;
$font-robotomono-bolditalic: 'RobotoMono BoldItalic', sans-serif;
$font-robotomono-italic: 'RobotoMono Italic', sans-serif;
$font-robotomono-light: 'RobotoMono Light', sans-serif;
$font-robotomono-lightitalic: 'RobotoMono LightItalic', sans-serif;
$font-robotomono-medium: 'RobotoMono Medium', sans-serif;
$font-robotomono-mediumitalic: 'RobotoMono MediumItalic', sans-serif;
$font-robotomono-regular: 'RobotoMono Regular', sans-serif;
$font-robotomono-thin: 'RobotoMono Thin', sans-serif;
$font-robotomono-thinitalic: 'RobotoMono ThinItalic', sans-serif;
$font-quitars: 'Quitars', sans-serif;
$font-zasline: 'Zasline', sans-serif;
$font-rubik-bold: 'Rubik Bold', sans-serif;
$font-rubik-bolditalic: 'Rubik BoldItalic', sans-serif;
$font-rubik-italic: 'Rubik Italic', sans-serif;
$font-rubik-black: 'Rubik Black', sans-serif;
$font-rubik-blackitalic: 'Rubik BlackItalic', sans-serif;
$font-rubik-medium: 'Rubik Medium', sans-serif;
$font-rubik-mediumitalic: 'Rubik MediumItalic', sans-serif;
$font-rubik-regular: 'Rubik Regular', sans-serif;
$font-rubik-light: 'Rubik Light', sans-serif;
$font-rubik-lightitalic: 'Rubik LightItalic', sans-serif;
$font-freshman: 'Freshman', sans-serif;
$font-twcenmt-bold: 'TwCenMT Bold', sans-serif;
$font-twcenmt-bolditalic: 'TwCenMT BoldItalic', sans-serif;
$font-twcenmt-condensed: 'TwCenMT Condensed', sans-serif;
$font-twcenmt-condensedbold: 'TwCenMT CondensedBold', sans-serif;
$font-twcenmt-condensedextrabold: 'TwCenMT CondensedExtraBold', sans-serif;
$font-twcenmt-italic: 'TwCenMT Italic', sans-serif;
$font-twcenmt: 'TwCenMT', sans-serif;
$font-aller-bold: 'Aller Bold', sans-serif;
$font-aller-bolditalic: 'Aller BoldItalic', sans-serif;
$font-aller-display: 'Aller Display', sans-serif;
$font-aller-italic: 'Aller Italic', sans-serif;
$font-aller-light: 'Aller Light', sans-serif;
$font-aller-lightitalic: 'Aller LightItalic', sans-serif;
$font-aller-regular: 'Aller Regular', sans-serif;

.font-component {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    &__box {
        margin: 2rem 0;
        max-width: 1170px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        grid-column-gap: 1.5rem;
        grid-row-gap: 2rem;
    }
    &__wrap {
        border: 2px solid black;
        padding: 1rem;
        font-size: 1rem;
    }
    &__lato-black { font-family: $font-lato-black; }
    &__lato-blackitalic { font-family: $font-lato-blackitalic; }
    &__lato-bold { font-family: $font-lato-bold; }
    &__lato-bolditalic { font-family: $font-lato-bolditalic; }
    &__lato-hairline { font-family: $font-lato-hairline; }
    &__lato-hairlineitalic { font-family: $font-lato-hairlineitalic; }
    &__lato-italic { font-family: $font-lato-italic; }
    &__lato-light { font-family: $font-lato-light; }
    &__lato-lightitalic { font-family: $font-lato-lightitalic; }
    &__lato-regular { font-family: $font-lato-regular; }
    &__roboto-light { font-family: $font-roboto-light; }
    &__roboto-slab-bold { font-family: $font-roboto-slab-bold; }
    &__roboto-slab-light { font-family: $font-roboto-slab-light; }
    &__verdana-bold { font-family: $font-verdana-bold; }
    &__verdana-italic { font-family: $font-verdana-italic; }
    &__verdana-regular { font-family: $font-verdana-regular; }
    &__pier-sans-bold { font-family: $font-pier-sans-bold; }
    &__abel-regular { font-family: $font-abel-regular; }
    &__publicsans-regular { font-family: $font-publicsans-regular; }
    &__museosans-rounded-700 { font-family: $font-museosans-rounded-700; }
    &__raleway-medium { font-family: $font-raleway-medium; }
    &__alice-regular { font-family: $font-alice-regular; }
    &__nexarustslab-blackshadow01 { font-family: $font-nexarustslab-blackshadow01; }
    &__cream-cake { font-family: $font-cream-cake; }
    &__hello-valentina { font-family: $font-hello-valentina; }
    &__eastwood { font-family: $font-eastwood; }
    &__eastwood-italic { font-family: $font-eastwood-italic; }
    &__robotomono-bold { font-family: $font-robotomono-bold; }
    &__robotomono-bolditalic { font-family: $font-robotomono-bolditalic; }
    &__robotomono-italic { font-family: $font-robotomono-italic; }
    &__robotomono-light { font-family: $font-robotomono-light; }
    &__robotomono-lightitalic { font-family: $font-robotomono-lightitalic; }
    &__robotomono-medium { font-family: $font-robotomono-medium; }
    &__robotomono-mediumitalic { font-family: $font-robotomono-mediumitalic; }
    &__robotomono-regular { font-family: $font-robotomono-regular; }
    &__robotomono-thin { font-family: $font-robotomono-thin; }
    &__robotomono-thinitalic { font-family: $font-robotomono-thinitalic; }
    &__quitars { font-family: $font-quitars; }
    &__zasline { font-family: $font-zasline; }
    &__rubik-bold { font-family: $font-rubik-bold; }
    &__rubik-bolditalic { font-family: $font-rubik-bolditalic; }
    &__rubik-italic { font-family: $font-rubik-italic; }
    &__rubik-black { font-family: $font-rubik-black; }
    &__rubik-blackitalic { font-family: $font-rubik-blackitalic; }
    &__rubik-medium { font-family: $font-rubik-medium; }
    &__rubik-mediumitalic { font-family: $font-rubik-mediumitalic; }
    &__rubik-regular { font-family: $font-rubik-regular; }
    &__rubik-light { font-family: $font-rubik-light; }
    &__rubik-lightitalic { font-family: $font-rubik-lightitalic; }
    &__freshman { font-family: $font-freshman; }
    &__twcenmt-bold { font-family: $font-twcenmt-bold; }
    &__twcenmt-bolditalic { font-family: $font-twcenmt-bolditalic; }
    &__twcenmt-condensed { font-family: $font-twcenmt-condensed; }
    &__twcenmt-condensedbold { font-family: $font-twcenmt-condensedbold; }
    &__twcenmt-condensedextrabold { font-family: $font-twcenmt-condensedextrabold; }
    &__twcenmt-italic { font-family: $font-twcenmt-italic; }
    &__twcenmt { font-family: $font-twcenmt; }
    &__aller-bold { font-family: $font-aller-bold; }
    &__aller-bolditalic { font-family: $font-aller-bolditalic; }
    &__aller-display { font-family: $font-aller-display; }
    &__aller-italic { font-family: $font-aller-italic; }
    &__aller-light { font-family: $font-aller-light; }
    &__aller-lightitalic { font-family: $font-aller-lightitalic; }
    &__aller-regular { font-family: $font-aller-regular; }    
}